.App {
  text-align: center;
}

.row {
  
}

.row * {
  padding: 40px;
  display: inline-block;
}

.row:nth-child(even) * {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.row *:nth-child(even) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}